@layout('layouts/cactus')
@set('title', 'Home page')

@section('body')
  @include('partials/header')
  @include('partials/about')
  @include('partials/writings')
  @include('partials/projects')
  @include('partials/footer')
@end