<footer id=footer>
    <div class=footer-left>
        Copyright &copy; 2021 Albert Abril
    </div>
    <div class=footer-right>
        <nav>
            <ul>
                <li><a href=/hugo-theme-cactus />Home</a></li>
                <li><a href=/hugo-theme-cactus/posts>Writings</a></li>
                <li><a href=/hugo-theme-cactus/tags>Tags</a></li>
                <li><a href=/hugo-theme-cactus/about>About</a></li>
            </ul>
        </nav>
    </div>
</footer>