<section id=projects>
    <span class=h1><a href=https://github.com/gohugoio>Projects</a></span>
    <ul class=project-list>
        <li class=project-item>
            <a href=https://gohugo.io />Hugo</a>: The world’s fastest framework for building websites.
        </li>
        <li class=project-item>
            <a href=https://github.com/gohugoio/hugoThemes>Hugo Themes</a>: A curated directory of Hugo themes
        </li>
    </ul>
</section>