<section id=writing>
    <span class=h1><a href=https://www.takuzen.me/hugo-theme-cactus/posts>Writings</a></span>
    {{--  @include('partials/writings/topics')  --}}
    @include('partials/writings/most_recent')
</section>